{% extends 'base.html' %}
{% block title %}Selwyn Campground Booking System{% endblock %}
{% block content %}
<div class="col-11">
    <h1><b>Welcome to use Booking System</b></h1>
    <h2><c class="fw-lighter" style="text-align: right;" > Tody is {{ currentdate }}</c></h2>
</div>
<hr>
<h3>Total Customers:  <b style="color: blueviolet;">{{ customercount }}</b> Bookings</h3>
<hr>
<h2><b>Dash Board</b></h2>
<br>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
    
        <div class="card-body">
          <h3 class="card-title"><a style="text-decoration: none;" class="" href="{{ url_for('customerlist') }}">Customer List</a></h3>
          <p class="card-text">You can view all customer in the system, Add new cusotmer, Search and Edit Cusotmer's info</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
       
        <div class="card-body">
          <h3 class="card-title"><a style="text-decoration: none;" class="" href="{{ url_for('camperlist') }}">Booking List</a></h3>
          <p class="card-text">You can view all booking in the system, Add new booking, Search booking info by date</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        
        <div class="card-body">
          <h3 class="card-title"><a style="text-decoration: none;" class="" href="{{ url_for('new_customer') }}">Add New Customer</a></h3>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
      
        <div class="card-body">
          <h3 class="card-title"><a style="text-decoration: none;"  href="{{ url_for('booking') }}">Make New Booking</a></h3>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
<hr>

<h2><b>Latest Customer</b></h2>
<br>
{% if last_customer %}
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h4><b>Customer ID: <span class="badge bg-primary text-wrap" style="width: 6rem; padding-left: 10px;">{{ last_customer[0] }}</span></b></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h6><b>First Name:<br></b>{{ last_customer[1] }}</h6>
            </div>
            <div class="col-4">
                <h6><b>Last Name:<br></b>{{ last_customer[2] }}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h6><b>Phone Number:</b><br>{{ last_customer[4] }}</h6>
            </div>
            <div class="col-4">
                <h6><b>Email Address:</b><br>{{ last_customer[3] }}</h6>
            </div>
        </div>
        <br>
    </div>
    <hr style="padding-bottom: 20px;">
{% else %}
    <p>No customer found.</p>
{% endif %}
{% endblock %}


